*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial;
}

h3{
    font-size: 40px;
    padding: 70px;
}

/*-----menu */
div#largura-pagina{
    width:100%;
    height: 80px;
}
section#conteudo1{
    width:10%;
    box-sizing: border-box;
    float: left;
}

img{
    width: 100%;
}

form img{
    width: 50px;
    float: left;
    padding: 10px;
}






/* couteudo lateral */

section#conteudo2, section#conteudo3{
    width:40%;
    box-sizing: border-box;
    float: left;
}

section#conteudo2 div, section#conteudo3 div{
    width: 90%;
    background-color: blue;
    border: 1px solid rgba(15, 211, 97, 0.904);
    padding-left: 800px;
    padding-top: 15px;
   
}

nav{
    background-color:red;
    line-height: 90px;
    width: 100%;
    display: inline-block;
}

ul{
    list-style: none;
    
}

li{
    display: inline-block;
    line-height: 60px;
    padding: 5px 10px;
    
}

li img{
    width:100px;
    height:80px;
    margin-top: 7px;
    
}

li a{
    text-decoration: none;
    color: black;
    
   

}

li a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}




