div.largura{
    width: 100%;
    height: 1000px;
    background-color: lightblue;
    float: left;
}

div.texto_container{
    width: 50%;
    height: 900px;
    background-color: white;
    margin: 45px auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 1px 10px black;
}

h1.titulo{
    font-family: Verdana;
    letter-spacing: 2px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.212);
}

.texto_container p.texto_main{
    text-indent: 20px;
    line-height: 1.5;
    word-spacing: 3px;
}

.texto_container p{
    font-family: Verdana;
}