*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: arial;
    background-image: url("img/fundo.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}

form{
    width: 350px;
    margin: 60px auto;
    background-color: white;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
    display:table;
}



input{
    display: block;
    width:95%;
    height: 30px;
    font-size:11pt;
    color: rgba(0,0,0,.7);
    padding: 5px;
    margin-bottom: 15px;
    outline:none;
}

h1{
    font-size: 11pt;
    padding: 10px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(123,104,238);
}

input[type="submit"]
{
    width:100px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(123,104,238);
    color:white;
    border:none;
    float: right;
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
}
.BUTTON_TBX {
       background: #3D94F6;
       background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       color: #FFFFFF;
       font-family: Arial;
       font-size: 47px;
       font-weight: 100;
       padding: 18px;
       box-shadow: 1px 1px 20px 0px #000000;
       -webkit-box-shadow: 1px 1px 20px 0px #000000;
       -moz-box-shadow: 1px 1px 20px 0px #000000;
       text-shadow: 1px 1px 20px #000000;
       border: solid #337FED 1px;
       text-decoration: none;
       display: inline-block;
       cursor: pointer;
       text-align: center;
    }
    
    .BUTTON_TBX:hover {
       border: solid #337FED 1px;
       background: #1E62D0;
       background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       text-decoration: none;
    }

label{
    display: block;
}


