*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial;
}

h3{
    font-size: 40px;
    padding: 70px;
}

/*-----menu */
div#largura-pagina{
    width:100%;
    height: 80px;
    border-radius: 1px;
}
section#conteudo1{
    width:50%;
    box-sizing: border-box;
    float: left;
    padding-top: 0px;
    margin-left: 0px;
    background-color: red;
}


section#conteudo1 img{
    width: 150px;
    height: 100px;
    left:10px;
}

section#conteudo1  input{
    display: inline-block;

}

section#conteudo1 ul li{
    display: inline-block;
}


/* couteudo lateral */

section#conteudo2 {
    display: inline-block;
    position:relative; 
   margin-top: 0px;
   background-color: green;
    
}
input[type=submit]:hover{
    background-color: rgb(124,104,238);
    color:white;      
}
input[type=submit]
{
    font-family: 'Arial Black';
    width: 220px;
    height: 52px;
    background-color: white;
    color:rgb(123,104,238);
    border:2px solid rgb(123,104,238);
    cursor: pointer;
    display:block;
    float:right;
}
textarea {
    height: 100px;
    width: 85%;
    border:none;
    padding: 7px;
    font-size: 14pt;
    margin: 9px;
    font-family: arial;
    outline:none;
    display:block;
   
    display: inline-block;
}

section#conteudo2{
    width:40%;
    box-sizing: border-box;
    float: left;
    
}

section#conteudo2 div{
    width: 40%;
    padding-left: 100%;
    padding-top:0px;
   
}

section#conteudo2 a{
    padding-top: 50px;
}
section#conteudo2 a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}









.menu{
    list-style:none; 
    float:left; 

    }

.menu li{
        position:relative; 
        float:left; 
        list-style: none;
        margin-right: 300px;
        }
 .menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
 .menu li a:hover{
        background:#333; 
        color:#fff; 

}
.menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
   
    }   



   /*bcbwubuvbouweb*/



.menu2{
    width: 100%;
    height:80px;
    background-color: red;
    padding-left: 100px;
   
}
.menu2 ul{
    list-style: none;
    
}

.menu2 ul li{
    display: inline-block;
    position:relative; 
    
    
}

.menu2 li img{
    width:190px;
    height:90px;
    margin-top: 7px;
    
}

.menu2 li a{
    text-decoration: none;
    color: black;
    margin-left:400px;
   

}

.menu2 ul  li a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}